/* FONTS */

@font-face{
    font-family: audiowide;
    src: url(fonts/Audiowide-Regular.ttf);
}
@font-face{
    font-family: sharetechmono;
    src: url(fonts/ShareTechMono-Regular.ttf);
}
@font-face{
    font-family: furore;
    src: url(fonts/Furore.otf);
}

html{
    overflow-x: hidden !important;
}

body{
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: rgb(49, 47, 47);
}

                        /* HEADER STARTS*/

.header{
    width: 100vw;
    background-color: rgb(73, 66, 69);
    text-transform: uppercase;
    height: 50px;
    box-shadow: black 0px 0px 30px 8px;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.header .row{
    height: 100%;
    width: 100vw;
}

.header .colsp{
    font-size: 13px;
    font-family: furore;
}

a{
    color: white;
}

a:hover{
    text-decoration: none;
    text-transform: none;
    cursor: default;
}

.header .colsp:hover{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: rgb(143, 143, 248);
}
.header .colsp:hover a{
    color: rgb(143, 143, 248);
}

                            /* HEADER ENDS*/


                            /* MAIN 1*/
.main1{
    margin: 0;
    margin-top: 6vh;
    height: 25vh;
}

.main1 .colsp{
    background-color: rgb(49, 47, 47);
    padding: 0;
    color: white;
    z-index: -40;
}

.main1 .colsp h1{
    font-family: audiowide;
    text-transform: uppercase;
    font-size: 30px;
}

.main1 .colsp p{
    font-family: sharetechmono;
}

.main1 .colsp .contt{
    margin: auto;
}

.circle{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: -65vh;
    left: 0vw;
    width: 100vw;
    height: 90vh;
    background-color: rgba(248, 244, 242, 0.1);
    border-radius: 50%;
    z-index: -30;
}
                            /* MAIN 1 ENDS*/

                            /* MAIN 2*/

.main2 canvas{
    height: 1000vh;
    width: 100vw;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

                            /* MAIN 2 ends*/

                            /* Content Starts*/

.content1, .content2, .content3, .content4{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 40vh;
    margin: 0;
    opacity: 0;
}

.content1{
    opacity: 1;
}

.contmain{
    background-color: rgba(248, 244, 242, 0.1);
    color: white;
    font-family: furore;
}

.bgonly{
    background-color: rgba(248, 244, 242, 0.1);
}
                            /* Content Ends*/
